@import 'reset.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'forms.scss';

html, body{
	height: 100%;
}

#app{
	width: 100%;
	height: 100%;
	background-image: url('../imgs/bg.jpg');
}